body {
  background-color: #e9eff5;
}
/* Stylelize containers with white background */
#MainColor {
  background-color: white;
}

#MainPic {
  float: none;
  width: 100%;
}
#MainPicResume {
  float: none;
  width: 100%;
}
.contact-icons {
  width: 64px;
}

.fa:hover {
  opacity: 0.7;
}

#info-top {
  background-color: #2162af;
  color: white;
}

#info-top-resume {
  background-color: green;
  color: white;
}

a:link {
  color: white;
}
.card-photo {
  width: 300px;
}
